<div class="home-container">
    <div class="jumbotron">
        <div class="row">
          <div class="col-xl-3 col-lg-3">
              <div class="text-center">
                  <img alt="WCP" class="img-fluid home-logo" src="assets/img/circle.png" />
              </div>
          </div>
          <div class="col-xl-6 col-lg-6 home-text">
              <h1 class="home-text">Web Collaborative Platform</h1>
              <p class="lead">Cité de l''innovation de <strong>Rabat</strong>
                  <br> <small>Université Mohammed V de Rabat</small>
              </p>
              <p><a class="btn btn-primary btn-lg"  [routerLink]="'/app/inscription'">Rejoignez-nous</a></p>
          </div>
          <div class="col-xl-3 col-lg-3 mt-5">
            <div class="text-center">
              <img alt="UM5" class="img-fluid home-logo" src="assets/img/um5.png" />
            </div>
          </div>
        </div>
    </div>
</div>
